<html>
    
<head>
    
    
    <meta charset="utf-8">
    <title>Travel Comparison Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="../../bootstrap.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="//code.jquery.com/jquery-1.10.2.js">
    
    <script src="dist/jquery/jquery-ui.js"></script>

    <script>
      $(function() {
        $( "#datepicker" ).datepicker({ dateFormat: "yyyy-mm-dd"});
      });
    </script>
    
    
    
</head>

<body>
    <nav id="myNavbar" class="navbar navbar-default" role="navigation">
        
        <div class="container" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Travel Comparison</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="../search/search.view.html" target="_blank">Search</a></li>
                    <li><a href="../profile/profile.view.html" target="_blank">{{vm.credentials.name}}</a></li>
                    <li><a href="" target="_blank"></a></li>
                    
                </ul>
            </div>
        </div>
    </nav>

<div class="container">

    <div ng-app="meanApp" ng-controller="searchCtrl" class="form-horizontal">
        <form class="col-md-4">
        <input type="text" ng-model="farePreference" name="farePreference" placeholder="Fare Preference"class="form-control input-md col-md-4">
        <br>
        <input type="text" ng-model="fromAirport" name="Origin" placeholder="fromAirport"class="form-control input-md col-md-4"> <br>
        <input id="datepicker" type="date" ng-model="fromDate" name="fromDate" placeholder="From Date"class="form-control input-md col-md-4"> <br>
        <input type="text" ng-model="passengers" name="passengers" placeholder="Passengers"class="form-control input-md col-md-4"> <br>
        <input type="text" ng-model="toAirport" name="toAirport" placeholder="Destination"class="form-control input-md col-md-4"> <br>
        <input id="datepicker" type="date" ng-model="toDate" name="toDate" placeholder="toDate"class="form-control input-md col-md-4"> <br>
        <input type="text" ng-model="travelType" name="travelType" placeholder="Travel Type"class="form-control input-md col-md-4"> <br>
        <button ng-click="SendData()"class="form-control input-md col-md-4">Submit</button>
        <br>
        <button type="reset"class="form-control input-md col-md-4">New Search</button>
        </form>
        <hr />

        <script> var newDate = fromDate.substring(0, 10) </script>

    </div>

</div>
    
    
</body>
    
</html>