<html>
    
<head>
    
    
    <meta charset="utf-8">
    <title>Travel Comparison Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="../../bootstrap.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="//code.jquery.com/jquery-1.10.2.js">
    
    <script src="dist/jquery/jquery-ui.js"></script>

    <script>
      $(function() {
        $( "#datepicker" ).datepicker({ dateFormat: "yyyy-mm-dd"});
      });
    </script>
    
    
    
</head>

<body>
    <navigation></navigation>
<div class="container">

    <div ng-app="meanApp" ng-controller="searchCtrl" class="form-horizontal">
        <form class="col-md-4">
        <select name="travelType" ng-model="travelType" class="form-control input-md col-md-4">
            <option value="" disabled selected>&nbspTravel Type</option>
            <option value="One-way">One-way</option>
            <option value="Round-trip">Round-trip</option>
        </select> </br>


        <select name="farePreference" ng-model="farePreference" class="form-control input-md col-md-4">
            <option value="" disabled selected>&nbspFare Preference</option>
            <option value="Economy">Economy</option>
            <option value="Business">Business</option>
            <option value="First">First</option>
        </select> </br>


        <input type="text" ng-model="fromAirport" name="Origin" placeholder="fromAirport"class="form-control input-md col-md-4"> <br>
        <input id="datepicker" type="date" ng-model="fromDate" name="fromDate" placeholder="From Date"class="form-control input-md col-md-4"> <br>

        <select name="passengers" ng-model="passengers" class="form-control input-md col-md-4">
            <option value="" disabled selected>&nbspNumber of Passengers</option>
            <option value="1">&nbsp1</option>
            <option value="2">&nbsp2</option>
            <option value="3">&nbsp3</option>
            <option value="4">&nbsp4</option>
            <option value="5">&nbsp5</option>
            <option value="6">&nbsp6</option>
        </select> </br>
        
        <input type="text" ng-model="toAirport" name="toAirport" placeholder="Destination"class="form-control input-md col-md-4"> <br>
        
        <div ng-show="travelType=='Round-trip'">
        <input id="datepicker" type="date" ng-model="toDate" name="toDate" placeholder="toDate"class="form-control input-md col-md-4"> <br>
        </div>

        <button ng-click="SendData()"class="form-control input-md col-md-4">Submit</button>
        <br>
        <button type="reset"class="form-control input-md col-md-4">New Search</button>
        </form>
        <hr />

        <div ng-show="errorMessage">
            <h4 style="color:red">{{ errorMessage }}</h4>
            <div ng-show="errorCode">
                {{ errorCode }} </br>
                {{ errorStatus }}
            </div>
            <div ng-hide="errorCode">
                Check if your entries are correct. </br> </br>
            </div>
        </div>

    </div>

</div>
    
    
</body>
    
</html>
