<head>
    
    
    <meta charset="utf-8">
    <title>Travel Comparison Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="../../../bootstrap.css" rel="stylesheet" />
    <link href="../signin.css" rel="stylesheet" />
   
    
    <link rel="stylesheet" href="//code.jquery.com/jquery-1.10.2.js">
    
    <script src="dist/jquery/jquery-ui.js"></script>

    <script>
      $(function() {
        $( "#datepicker" ).datepicker();
      });
    </script>
    
    
    
    
    
</head>

<body>

<nav id="myNavbar" class="navbar navbar-default" role="navigation">
        
        <div class="container" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Travel Comparison</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="../search/search.view.html" target="_blank">Search</a></li>
                    <li><a href="../profile/profile.view.html" target="_blank">{{vm.credentials.name}}</a></li>
                    <li><a href="" target="_blank"></a></li>
                    
                </ul>
            </div>
        </div>
    </nav>

<div class="container">

  
    <div class="col-md-6">
      
      <form ng-submit="vm.onSubmit()" class="form-signin">
        <h1>Register</h1>
          <p class="lead">Already a member? Please <a href="../login/login.view.html">log in</a> instead.</p>
        <div class="form-group">
          <label class="sr-only"for="name">Full name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter your name" ng-model="vm.credentials.name">
        </div>
        <div class="form-group">
          <label class="sr-only"for="email">Email address</label>
          <input type="email" class="form-control" id="username" placeholder="Enter username" ng-model="vm.credentials.email">
        </div>
        <div class="form-group">
          <label class="sr-only"for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.credentials.password">
        </div>
        <div class="form-group">
            <label class="sr-only" for="location">Password</label>
            <input type="text" class="form-control" id="location" placeholder="Location" ng-model="vm.credentials.location">
        </div>
          <div class="form-group">
              <label class="sr-only" for="mpg">Password</label>
              <input type="Number" class="form-control" id="MPG" placeholder="38" ng-model="vm.credentials.mpg">
          </div>
        <button type="submit" class="btn btn-default">Register!</button>
      </form>
    </div>
</div>
    
    
</body>